@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
    --color-rgx-blue: #084D86;
    --color-rgx-orange: #F07E19;
    --color-rgx-green: #72B84A;
    --color-rgx-yellow: #FED500;
    --color-rgx-text: #444444;    
    --font-nunito: "Nunito", "serif";
    --font-montserrat: "Montserrat", "serif";
    --font-scribble: "scribble-scrawl", "sans-serif";
}

@font-face {
    font-family: 'scribble-scrawl';
    src: url('/src/fonts/scribble-scrawl.woff') format('woff');
    font-weight: 500;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}